In [26]:
# Import Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import gmaps.datasets
import requests

# Import API Key

from config import g_key

In [27]:
# Configure gmaps to use your Google API key

gmaps.configure(api_key=g_key)

In [28]:
# Store the CSV you saved created in part one into the DataFrame

city_data_df = pd.read_csv('weather_data/cities.csv')

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,$Y-$m-16 22:24:51,-46.6000,168.3333,3.22,74,39,2.43
1,1,Khatanga,RU,$Y-$m-16 22:24:51,71.9667,102.5000,17.76,42,100,8.83
2,2,Yellowknife,CA,$Y-$m-16 22:21:26,62.4560,-114.3525,14.29,67,75,4.12
3,3,Windsor,CA,$Y-$m-16 22:20:00,42.3001,-83.0165,34.19,31,0,7.72
4,4,Coihaique,CL,$Y-$m-16 22:24:52,-45.5752,-72.0662,3.97,60,20,1.54

In [29]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [30]:
# Heatmap of temperature
# Get the latitude and longitude

locations = city_data_df[['Lat','Lng']]

# Get the max temp

max_temp = city_data_df['Max Temp']
        
# Assign the figure variable

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp,0) for temp in max_temp],
                                 dissipating = False,
                                 max_intensity = 300, 
                                 point_radius = 4)

# Add the heatmap layer

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the custormer to add a minimum and maximum temperature value.

min_temp = float(input('What is the minimum temperature you would like for your trip?  '))

max_temp = float(input('What is the maximum temperature you would like for your trip?  '))

What is the minimum temperature you would like for your trip?  24
What is the maximum temperature you would like for your trip?  32

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Cabedelo,BR,$Y-$m-16 22:24:53,-6.9811,-34.8339,25.37,76,10,4.02
9,9,Puerto Ayora,EC,$Y-$m-16 22:24:55,-0.7393,-90.3518,25.98,96,75,4.02
11,11,Hithadhoo,MV,$Y-$m-16 22:24:55,-0.6000,73.0833,27.32,76,100,4.51
14,14,Mantua,IT,$Y-$m-16 22:24:56,45.1667,10.7833,27.58,90,34,4.63
15,15,Moengo,SR,$Y-$m-16 22:24:57,5.6167,-54.4000,24.02,92,99,1.35
27,27,Chanasma,IN,$Y-$m-16 22:25:02,23.7167,72.1167,30.01,68,59,5.94
28,28,Daru,PG,$Y-$m-16 22:25:03,-9.0763,143.2092,26.21,86,50,6.66
29,29,Vaini,TO,$Y-$m-16 22:25:03,-21.2000,-175.2000,26.09,78,40,4.63
30,30,Kapaa,US,$Y-$m-16 22:25:04,22.0752,-159.3190,28.99,77,40,5.14
34,34,Cacoal,BR,$Y-$m-16 22:23:47,-11.4386,-61.4472,26.40,69,97,1.20

In [36]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5       Cabedelo      BR     25.37  -6.9811  -34.8339
9   Puerto Ayora      EC     25.98  -0.7393  -90.3518
11     Hithadhoo      MV     27.32  -0.6000   73.0833
14        Mantua      IT     27.58  45.1667   10.7833
15        Moengo      SR     24.02   5.6167  -54.4000
27      Chanasma      IN     30.01  23.7167   72.1167
28          Daru      PG     26.21  -9.0763  143.2092
29         Vaini      TO     26.09 -21.2000 -175.2000
30         Kapaa      US     28.99  22.0752 -159.3190
34        Cacoal      BR     26.40 -11.4386  -61.4472

In [45]:
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # Make requests and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Cabedelo,BR,25.37,-6.9811,-34.8339,Pousada Camboinha
9,Puerto Ayora,EC,25.98,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Hithadhoo,MV,27.32,-0.6000,73.0833,Scoop Guest House
14,Mantua,IT,27.58,45.1667,10.7833,Hotel la Favorita
15,Moengo,SR,24.02,5.6167,-54.4000,Masanga
27,Chanasma,IN,30.01,23.7167,72.1167,Shree Bhateva Bhavan Dharamshala
28,Daru,PG,26.21,-9.0763,143.2092,Daru Lodge
29,Vaini,TO,26.09,-21.2000,-175.2000,Keleti Beach Resort
30,Kapaa,US,28.99,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
34,Cacoal,BR,26.40,-11.4386,-61.4472,Hotel BR 364

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°C</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [1]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined