In [12]:
# Import Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import gmaps.datasets
import requests

# Import API Key

from config import g_key

In [13]:
# Store the CSV you saved created in part one into the DataFrame

city_data_df = pd.read_csv('weather_data/cities.csv')

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,$Y-$m-16 22:24:51,-46.6000,168.3333,3.22,74,39,2.43
1,1,Khatanga,RU,$Y-$m-16 22:24:51,71.9667,102.5000,17.76,42,100,8.83
2,2,Yellowknife,CA,$Y-$m-16 22:21:26,62.4560,-114.3525,14.29,67,75,4.12
3,3,Windsor,CA,$Y-$m-16 22:20:00,42.3001,-83.0165,34.19,31,0,7.72
4,4,Coihaique,CL,$Y-$m-16 22:24:52,-45.5752,-72.0662,3.97,60,20,1.54

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key

gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude

locations = city_data_df[['Lat','Lng']]

# Get the max temp

max_temp = city_data_df['Max Temp']
        
# Assign the figure variable

fig = gmaps.figure()

# Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])

# Add the heatmap layer

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))